/* Warna Tema */
:root {
    --dusty: #b8b2c883;
    --lavender: #e6e1f0;
    --overcast: #7a7685;
    --paper: #f9f8f6;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: var(--paper);
    color: #333;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(53, 53, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 100;
}

.logo {
    width: 70px;
        height: 70px;
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        margin-top: 10px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: var(--overcast);
    font-weight: 500;
}

.nav-menu a:hover {
    color: #000;
}

/* Section */
.section {
    padding: 100px 40px 40px;
}

.hero {
    text-align: center;
    background: olive;
    color: white;
}

/* Buku */
#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Form */
.form-card {
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.form-card input, 
.form-card button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: var(--dusty);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: var(--overcast);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
    }
}